body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #87CEEB;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #87CEEB;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 100%;
}

.selfies-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.spin {
    animation: spin 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rotate1 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

@keyframes rotate4 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

@keyframes moveAndSpin {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(120px, -140px);
    }
    50% {
        transform: translate(-20px, 10px);
    }
    75% {
        transform: translate(400px, 341px);
    }
    100% {
        transform: translate(0, 0);
    }
}
