body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #87CEEB;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #87CEEB;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 100%;
}

.selfies-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
